$linear-gradient: linear-gradient(to right, #e3513f, #ed602b);

#contact {
  font-family: 'Quicksand', sans-serif;
  scroll-margin-top: 50px;
  margin: 1.2rem;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  height: auto;
  background: $linear-gradient;
  color: #fff;

  .contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  img {
    background-size: cover;
    width: 200px;
    height: auto;
    animation: moveUpDown 2.5s ease-in-out infinite;

    &:hover{
        animation-play-state: paused;
    }
  }

  h1 {
    font-weight: 900;
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.2rem;
  }

  form {
    max-width: 600px;
    margin: 0 auto;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: 600;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1.5rem;
      font-size: 1rem;
      border: 1px solid #0F172A;
      border-radius: 5px;
      background-color: #fff;
      color: #000;
    }

    button {
      display: inline-block;
      padding: 0.8rem 2rem;
      font-size: 0.8rem;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      background-color: darken(#f8ca96, 10%);
      color: #fff;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #f8ca96;
      }
    }
  }
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

// Media Queries
@media (min-width: 420px) {
  // Styles for Smaller devices
}

@media (min-width: 600px) {
  // Styles for Tablets and Large Phones
  
}

@media (min-width: 768px) {
    #contact {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        img {
          position: relative;
          background-size: contain;
          width: 400px;
          height: auto;
        }
    }
}

@media (min-width: 992px) {
  // Styles for Laptops and Desktops
  #contact {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    img {
      position: relative;
      background-size: contain;
      width: 500px;
      height: auto;
    }
  }
}
