// ========================================================================== //
//FOOTER

.footer-section {
    height: auto;
    position: relative;
    text-align: center;
    padding: 25px 20px;
    padding-top: 30px;    
    background: black;
  }

  .footer-section p {
    font-size: 14px;
    color: white;
  }
  .footer-section p a {
    color: #ed602b;
    font-size: 15px;
  }